{% extends 'base1.html' %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <canvas id="canvas" width="400" height="400"></canvas>
        </div>
    </div>

<br>
<br>
    <form action="{% url 'dashboard' %}" method="post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-2 col-sm-2 col-md-2 col-5">
                    <button name="set_alarm" class="btn btn-primary btn-lg">Set Alarm</button>
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2 col-5">
                    <button name="add_event" class="btn btn-success btn-lg" name="">Add Events</button>
                </div>
            </div>
        </div>
    </form>
<br>
{% endblock  %}